
@{
    ViewData["Title"] = "Index";
}
@model List<ProductWithCategoryDto>
<h1>Index</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>    
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Category</th>
        <th>Created Date</th>
        <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Stock</td>
                    <td>@product.Category.Name</td>
                    <td>@product.CreatedDate</td>
                    <td>
                        <a class="btn btn-warning" asp-action="UpdateProduct" asp-controller="Product" asp-route-id="@product.Id">Update</a>
                        <a class="btn btn-danger" asp-action="DeleteProduct" asp-controller="Product" asp-route-id="@product.Id">Delete</a>
                    </td>
                </tr>
            }
        </tr>
    </tbody>
</table>
